{% assign pages_by_folder = site.pages | group_by: 'dir' %}

<ul>
  {% for folder in pages_by_folder %}
    {% if folder.name != '' %}
      <li>
        <strong class="folder-name">{{ folder.name }}</strong>
        <ul>
          {% for item in folder.items %}
            {% if item.path contains '.md' %}
              <li>
                <a href="{{ item.url | relative_url }}">
                  {{ item.title | default: item.name | replace: '.md', '' }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<script>
  // 获取所有包含 URL 编码的 <strong> 元素
  const folderNameElements = document.querySelectorAll('.folder-name');
  // 遍历每个元素并解码
  folderNameElements.forEach((element) => {
    const encodedText = element.textContent;
    const decodedText = decodeURIComponent(encodedText);
    element.textContent = decodedText;
  });
</script>
